<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServletUsuario</servlet-name>
        <servlet-class>servlets.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletVenta</servlet-name>
        <servlet-class>servlets.ServletVenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProducto</servlet-name>
        <servlet-class>servlets.ServletProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletClaseProducto</servlet-name>
        <servlet-class>servlets.ServletClaseProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletMarcaProducto</servlet-name>
        <servlet-class>servlets.ServletMarcaProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProdProv</servlet-name>
        <servlet-class>servlets.ServletProdProv</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServletProductoTienda</servlet-name>
        <servlet-class>servlets.ServletProductoTienda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletUsuario</servlet-name>
        <url-pattern>/ServletUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletVenta</servlet-name>
        <url-pattern>/ServletVenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProducto</servlet-name>
        <url-pattern>/ServletProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletClaseProducto</servlet-name>
        <url-pattern>/ServletClaseProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletMarcaProducto</servlet-name>
        <url-pattern>/ServletMarcaProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProdProv</servlet-name>
        <url-pattern>/ServletProdProv</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServletProductoTienda</servlet-name>
        <url-pattern>/ServletProductoTienda</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
